@font-face
  font-family: 'cgb'
  src: url("font/CenturyGothicStd-Bold.otf")


html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

html
  background-image: url("res/bg.png")
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: 100% auto


#title-a
  font-family: cgb
  font-size: 20em

body



  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Yu Gothic, sans-serif

#container


  width: 100%
  margin: 0
  padding: 0

  background-color: rgba(100,100,100,0)

  background-repeat: no-repeat
  background-attachment: fixed
  background-size: 100% 100%

  display: flex
  flex-direction: column
  align-items: center

.righter
  text-align: right

a, #g-map
  text-decoration-color: #000000
  text-decoration: none

a:hover, #g-map:hover
  background-color: rgba(255,255,255,0.3)
  transition: all 300ms 0s ease

  text-decoration: none

.fa
  font-size: 30px

a
  color: #000000

header

  height: 100%

  #title-block
    text-align: center


img
  width: 100%


.content-block

  .content-title

    text-align: center

    .eng
      color: blue
      font-style: italic
      font-weight: bold
    .jpn
  .content-in
    .stardand
    .bold
      font-weight: bold

#g-map
  margin: 10px auto
  padding: 10px
  width: 250px
  border: solid
  border-width: 1px

.names
  .content-in
    display: flex
    .works-list
      font-weight: bold
      width: 30%
      text-align: center
    .works-name
      width: 70%

.center
  text-align: center

@media screen and (max-width: 1079px)
  header

    margin: 30vw auto auto auto


    width: 95%
    #title-str
      font-size: 9vw
  .content-block
    margin: 20vw auto
    width: 95%
    .content-title
      .eng
        font-size: 6vw
      .jpn
        font-size: 2.4vw
    .content-in
      .standard
        font-size: 3.8vw
      .bold
        font-size: 3.8vw
  .names
    .content-in
      margin: 0 auto
      //justify-content: center
      //align-items: center
      flex-direction: column
      .works-list
        font-size: 3.8vw
      .works-name
        font-size: 3.8vw
@media screen and (min-width: 1080px)
  header

    margin: 15vw auto auto auto

    width: 65%
    #title-str
      font-size: 4vw
  .content-block
    margin: 10vw auto
    width: 65%
    .content-title
      .eng
        font-size: 3vw
      .jpn
        font-size: 1.2vw
    .content-in
      .standard
        font-size: 1.4vw
      .bold
        font-size: 1.4vw
  .names
    .content-in
      flex-direction: row
      .works-list
        font-size: 1.5vw
      .works-name
        font-size: 1.3vw