html, body, #container
  width: 100%
  height: 100%
  margin: 0
  padding: 0

header, article

.d270, .datetime-detail
  display: inline

#container
  display: flex
  flex-direction: column
  align-items: center

.righter
  text-align: right

header


  #title-block
    //text-align: justify
    //text-justify: inter-ideograph
    text-align: center

    #title-str
      font-size: 4vw

    #title-detail


.content-block

  .content-title

    text-align: center

    .eng
      color: blue
      font-style: italic
      font-weight: bold
      font-size: 3vw
    .jpn
      font-size: 1.2vw
  .content-in
    .stardard
      font-size: 1.4vw
    .bold
      font-weight: bold
      font-size: 1.4vw

.names
  display: flex
  .works-list
    font-weight: bold
    font-size: 1.5vw
    width: 30%
    text-align: center
  .works-name
    font-size: 1.3vw
    width: 70%

@media screen and (max-width: 1079px)
  header
    width: 98%
  .content-block
    width: 98%
@media screen and (min-width: 1080px)
  header
    width: 70%
  .content-block
    width: 70%