@font-face {
  font-family: 'cgb';
  src: url("font/CenturyGothicStd-Bold.otf"); }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  color: #364d4d;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Yu Gothic, sans-serif; }

#mv {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("res/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1; }

#container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.righter {
  text-align: right; }

a, #g-map {
  text-decoration-color: #000000;
  text-decoration: none; }

a:hover, #g-map:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 300ms 0s ease;
  text-decoration: none; }

.fa {
  font-size: 30px; }

a {
  color: #364d4d; }

header #title-block {
  text-align: center; }
  header #title-block img {
    fill: #004040; }

img {
  width: 100%; }

#bg {
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ) copy; }

.content-block .content-title {
  text-align: center; }
  .content-block .content-title .eng {
    color: #004060;
    font-weight: bold; }
  .content-block .content-title .jpn {
    color: #004060; }

.content-block .content-in {
  margin: 60px 0 0;
  line-height: 2; }
  .content-block .content-in .bold {
    font-weight: bold;
    color: #000000; }
  .content-block .content-in strong {
    font-weight: bold;
    color: #000000; }

#g-map {
  margin: 70px auto;
  padding: 10px;
  width: 250px;
  border: solid;
  border-width: 1px; }

.names .content-in {
  display: flex;
  flex-direction: row; }
  .names .content-in .works-list {
    font-weight: bold;
    width: 30%;
    text-align: center; }
  .names .content-in .works-name {
    width: 70%; }

.center {
  text-align: center; }

@media screen and (max-width: 1079px) {
  header {
    width: 95%; }
  .content-wrapper {
    padding: 0 20px;
    box-sizing: border-box; }
  .content-block {
    margin: 20vw auto;
    width: 95%; }
    .content-block .content-title .eng {
      font-size: 6vw; }
    .content-block .content-title .jpn {
      font-size: 2.4vw; }
    .content-block .content-in {
      margin: 20px 0 0; }
      .content-block .content-in .standard {
        font-size: 3.8vw; } }

@media screen and (min-width: 1080px) {
  header {
    width: 65%; }
  .content-block {
    margin: 10vw auto;
    width: 65%; }
    .content-block .content-title .eng {
      font-size: 3vw; }
    .content-block .content-title .jpn {
      font-size: 1.2vw; }
    .content-block .content-in .standard {
      font-size: 1.4vw; } }

.is-show-animation {
  opacity: 0;
  transform: translate3d(0, 60px, 0); }

.fa-angle-down {
  position: absolute;
  animation: scroll 1200ms ease infinite normal;
  display: block;
  left: 50%;
  transform: translateX(-50%); }

@keyframes scroll {
  0% {
    bottom: 20px;
    opacity: 1; }
  100% {
    bottom: 0;
    opacity: 0; } }
